<html>
<head>
	<meta charset="UTF-8">
	<title>Lorie's Blog</title>
	<link rel=stylesheet href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row" style="border-bottom: 5px solid gray">
			<div>
				<h1 style="display: inline-block">Lorie's Blog</h1>
				<a href="newpost" class="btn btn-primary" style="float: right; margin-top: 15px">New Post</a>
			</div>
		</div>
	</div>
	{% block content %}
	{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>