<html>
<head>
	<meta charset="UTF-8">
	<title>Udacity Shopping List</title>
</head>
<body>
	<h1>Ascii Chan</h1>

	<!-- {% block content %}
	{% endblock %} -->
	<div class="container" style="width: 800px; height: 300px;">
	<form method="post" style="float:left;display: inline-block;">
		<label for="">
			<div>title</div>
			<input type="text" name="title" value="{{title}}">
		</label>
		<label>
			<div>art</div>
			<textarea name="art" id="" cols="30" rows="10">{{art}}</textarea>
		</label>
		<br>
		<div class="error">
			{{error}}
		</div>
		<input type="submit" value="Submit">
	</form>
	<div class="map" style="float:right">
		{% if img_map %}
			<img src="{{img_map}}"/>
		{% endif %}
	</div>
	<div style="clear:left"></div>
	</div>
	<hr>
	{% for art in arts %}
		<div class="art">
			<div class="art-title">
				{{art.title}}
			</div>
			<pre>
				{{art.art}}
			</pre>
		</div>
	{% endfor %}
</body>
</html>